<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>OSS Contributions - Gildas Quéméner</title>
        <link rel="stylesheet" href="/assets/index.css" />
    </head>
    <body>
        <div class="container">
            <h1 class="title"></h1>
            <div class="wrapper">
                <div class="menu">
                    <div class="gauge">
                        <div class="figure">25</div>
                        <div class="label">opened PRs</div>
                    </div>
                    <ul>
                        <li><a href="#">phpspec/phpspec</a> <span class="pulls-count">8</span></li>
                        <li><a href="#">prooph/event-store</a> <span class="pulls-count">3</span></li>
                    </ul>
                </div>

                <div class="pulls">
                    {% for contrib in contributions %}
                    <article>
                        <div class="title"><a href="https://github.com/{{contrib.projectName}}"><b>{{ contrib.projectName }}</b></a> <a href="{{ contrib.url }}">{{ contrib.title }}</a></div>
                        <div class="status {{ contrib.state }}">{{ contrib.state | upper }}</div>
                        <div class="date">{{ contrib.createdAt | date('Y-m-d H:i:s') }}</div>
                    </article>
                    {% endfor %}

                    <div class="pagination">
                        <a href="#">&lt;</a>
                        <a href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        ...
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">&gt;</a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
